h3, p, .LIs {
    margin-left: 100px;
}
#Ii {
    margin-left: 40%;
    margin-right: auto;
    width: 40%;
}
#Iii {
    margin-left: 45%;
    margin-right: auto;
}
.Contacs {
    margin-left: 0%;
}
