h3, p, .LIs, h4, #EIS {
    margin-left: 100px;
}
img {
    width: 20%;
    margin-left: 35%;
    margin-right: auto;
}
#Holo {
    float: inline-end;
    margin: 0%;
    width: 30%;
    margin-left: 10px;
}
#Hola {
    float: inline-start;
    margin: 0%;
    width: 30%;
    margin-right: 10px;
}
